iana-ipp-registrations.xml*
ipp.h
ipp.po
ipp.strings
ipp-registrations.xml*
pwg-ipp-registrations.xml
pwg-semantic-model
register
register.dSYM
regtoc
regtoc.dSYM
regtosm
regtosm.dSYM
regtostrings
regtostrings.dSYM
smpjt3d*
